<div id="mapid" style="width:100%;height:400px"

></div>

<table class="table table-striped" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="location">Location</th>
      <th mat-sort-header="name">Reported By</th>
      <th mat-sort-header="dt">Time Reported</th>
      <th>Status</th>
      <th>More-Info</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rep of report_arr">
      <td><span>{{rep.data.location}}</span></td>
      <td><span>{{rep.data.name}}</span></td>
      <td><span>{{rep.data.dt | date:'d MMM, YYYY hh:mm:ss'}}</span></td>
      <td><span>Ready for Pickup</span></td>
      <td><button  type="button" class="btn btn-light" (click)="more_info(rep.data)">More-Info</button></td>
      <td><button  type="button" class="btn btn-danger" (click)="removeItem(rep, rep.data.uuid)">Delete</button></td>
    </tr>
  </tbody>
</table>
<button id="pig-report" type="button" class="btn btn-primary" (click)="open_form()">Report Pig!</button>


<ng-container *ngIf="visible" >

  <form [formGroup] = "reportForm" id="input_form">
    <section class="mb-3">
      <label for="personName" class="form-label">Your Name:</label>
      <input id="n" type="personName" formControlName="name" class="form-control" placeholder="Enter your name here">
    </section>
    
    <section>
      <label for="personContact" class="form-label">Your Contact:</label>
      <input id="con" type="personContact" formControlName="contact" class="form-control" placeholder="Enter your contact here">
    </section>
    
    <section>
      <label for="pigBreed" class="form-label">Pig Breed:</label>
      <input id="pb" type="pigBreed" formControlName="pig_breed" class="form-control" placeholder="Enter the pig breed">
    </section>

    <section>
      <label for="pigId" class="form-label">Pig Id:</label>
      <input id="pi" type="pigId" formControlName="pig_id" class="form-control" placeholder="Enter the pigID here">
    </section>

    <section>
      <label for="locationName" class="form-label">Location:</label>
      <input id="loc" type="locationName" formControlName="location" class="form-control" placeholder="Enter the name of location here">
    </section>

    <section>
      <label for="latitude" class="form-label">Latitude:</label>
      <input id="lat" type="latitude" formControlName="latitude" class="form-control">
    </section>

    <section>
      <label for="longitude" class="form-label">Longitude:</label>
      <input id="long" type="longitude" formControlName="longitude" class="form-control">
    </section>

    <section>
      <label for="extraNotes" class="form-label">Extra Notes:</label>
      <input id="ex" type="extraNotes" formControlName="extra" class="form-control" placeholder="Enter any extra comments here">
    </section>

  </form>
  <button  id="close-form" type="button" class="btn btn-secondary" (click)="close_form()">Back</button>
  <button  id="submit-form" type="button" class="btn btn-primary" (click)="addItem()">Submit</button>
</ng-container>

<ng-container *ngIf="visible_info" >
    <section>
      <table class="table table-striped" id="more-table">
        <thead>
          <th>More Information</th>
        </thead>
        <tbody>
          <tr><td>Reporter:</td><td>{{NAME}}</td></tr>
          <tr><td>Contact:</td><td>{{CONTACT}}</td></tr>
          <tr><td>Pig Breed:</td><td>{{P_BREED}}</td></tr>
          <tr><td>Pig ID:</td><td>{{P_ID}}</td></tr>
          <tr><td>Location:</td><td>{{LOC}}</td></tr>
          <tr><td>Latitude:</td><td>{{LAT}}</td></tr>
          <tr><td>Longitude:</td><td>{{LONG}}</td></tr>
          <tr><td>Extra Notes:</td><td>{{EXTRA}}</td></tr>
          
        
          <!-- <tr>Contact: </tr>
          <tr>Breed: {{P_BREED}}</tr>
          <tr>Pig ID: {{P_ID}}</tr>
          <tr>Location: {{LOC}}</tr>
          <tr>Longitude: {{LONG}}</tr>
          <tr>Latitude: {{LAT}}</tr>
          <tr>Extra Notes: {{EXTRA}}</tr> -->
          <!-- <tr>Status: </tr> -->
        </tbody>
      </table>
      <button  id="close-info" type="button" class="btn btn-danger" (click)="close_info()">Close</button>
    </section>
</ng-container>